URxvt.transparent: false
URxvt.shading: 15
URxvt.font: xft:Source Code Pro:size=16


! http://ethanschoonover.com/solarized

! Dark

URxvt.foreground: #dab749
#define S_base03        #001115
#define S_base02        #073672
#define S_base01        #62d7da
#define S_base00        #7d3c9f
#define S_base0         #a54bdc
#define S_base1         #1ac205
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

#define S_cyan          #2aa198
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #e10713
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Light
/*
URxvt.foreground: #2c2c2c
#define S_base03        #ecdfbc
#define S_base02        #eee8d5
#define S_base01        #93a1a1
#define S_base00        #839496
#define S_base0         #3ab4c8
#define S_base1         #586e75
#define S_base2         #073642
#define S_base3         #002b36

#define S_cyan          #2aa198
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #e10713
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #508c07
*/

*background:              S_base03
*foreground:              S_base0
*fading:                  40
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color9:                  S_orange
*color8:                  S_base03
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3
